build
doc
*.xcodeproj/*.pbxuser
*.xcodeproj/*.perspectivev3
*.xcodeproj/xcuserdata
.DS_Store
.swp
~.nib
.pbxuser
.perspective
*.perspectivev3
*.mode1v3
*.xcworkspacedata
*.xcuserstate
*xcuserdata*
*.gem

# Compiled binaries
g710plus/g710plus/g710plus/g710plus
g710plus

# User-specific configuration files
*.plist
